# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.env
.venv/
venv/
.venv
env/
venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Notebooks excluídos do repositório
6 - figuras.ipynb

# Dados processados (gerados na execução)
data/processed/

# Figuras geradas
figures/
template-latex/figuras/

# OS
.DS_Store
Thumbs.db

presentation.tex
text.tex
